<% @jobs.all.reverse.each do |job| %>
	<div class="job_wrapper">
		<p>Job Name : <%= job.job_name %></p>
		<p>Containers needed: <%= job.containers_needed %></p>
		<p>Job Origin: <%= job.origin %></p>
		<p>Job Destination: <%= job.destination %></p>
		<p>Job Cost: <%= job.cost %></p>
		<p>Job Description:	<%= job.description %></p>
		<% if job.user.id == current_user.id %>
			<%= link_to "Edit", edit_job_path(job)  %>
			<%= link_to "Delete Job", job, method: :delete, remote: true, class: "destroy_job" %>
		<% end %>	
	<% if current_user %>
			<p>Book a Boat</p>
			<%= form_with model: @job_boat, class: "job_boat_form" do |f| %>
				<%= f.hidden_field :job_id, value: job.id %>
				<%= f.select :boat_id,  options_for_select(Boat.all.map{|boat| ["#{boat.name}  | cont. #{boat.container_amount}", boat.id]}) %>
				<%= f.submit %>
			<% end %>
		<% end %>	
		<p>booked boats</p>
		<% container_count = 0 %>
		<% job.job_boats.each do |booking| %>
		<div class="booking" data-count=<%= booking.boat.container_amount %> data-job_id=<%= job.id %>>
			<p><%= booking.boat.name %> | containers: <%= booking.boat.container_amount %></p>
			<%= link_to "remove booking", booking, method: :delete, class: "remove_booking", remote: true %>
			<% container_count = booking.boat.container_amount + container_count %>
		</div>
		<% end %>
		<p>containers remaining: <span id=<%= "#{job.id}_container"%> class="container_count"><%= job.containers_needed - container_count %></span></p>
	</div>
<% end %>