<div class="profile_wrapper">
	<h3> Ahoy, <%= current_user.user_name %>!</h3>
	<%= image_tag current_user.avatar.url(:medium), class: "round_border" %>
	<div class="links">
		<% if user_signed_in? %>
			<%= link_to "Add Boat", new_boat_path %>
			<%= link_to "Add Job", new_job_path %>
		<% end %>
	</div>
</div>
<div class="boats_jobs_wrapper">
	<div class="center_info">
		<div class="user_boats">My Boats
			<%= render "boats/user_boats" %>
		</div>
		<div class="user_jobs"> My Jobs
			<%= render "jobs/user_jobs" %>
		</div>
	</div>
</div>
