
<div class="booking info_wrapper margin_bottom" data-count="<%= job_boat.boat.container_amount %>" data-job_id="<%= job_boat.job.id %>">
	<p class="text_info">
		<%= job_boat.boat.name %> | containers: <%= job_boat.boat.container_amount %>
	</p>
	<%= link_to "remove booking", job_boat, method: :delete, class: "remove_booking", remote: true %>
</div>
