<%= form_with  model: @boat do |f| %>
	<%= f.text_field :name, placeholder: 'Boat Name', 
	class: "form-control form_margin" %>
	<%= f.text_field :container_amount, placeholder: 'Container Count', 
	class: "form-control form_margin" %>
	<%= f.select :location, options_for_select(@countries), 
	class: "form-control form_margin" %>
	<%= f.submit class: "btn btn-primary form_margin" %>
	<div>
    <%= f.file_field :avatar, placeholder: "Your image" %>
  </div>
<% end -%>