<!DOCTYPE html>
<html>
  <head>
    <title>ShipProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <% if user_signed_in? %>
          <a>
            <%= link_to "Home", user_path(current_user), class: "nav-link" %> 
          </a>
            <a>
              <%= link_to "View all", users_path, class: "nav-link" %>
            </a>
           <p class="heading">
             <span class="navbar-brand mb-0 h1 heading">Yaaaaarrr Very Own Boat Service</span>
           </p>
            <a class="edit">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
            </a>
            <a class="logout">
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link" %>
            </a>
        <% else %>
          <a>
            <%= link_to "Log in", new_session_path(resource_name), class: "nav-link" %>  
          </a>
          <a>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "nav-link" %>
          </a>
        <% end %>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
