<div class="user_wrapper">
  <div class="user_form">
    <h2>Sign up </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), ) do |f| %>
        <%= devise_error_messages! %>
         
        <div class="field form-group">
          <%= f.text_field :first_name, autofocus: true, placeholder: "First name", 
          class: "form-control" %>
        </div>
      
        <div class="field form-group">
          <%= f.text_field :last_name, placeholder: "Last name", 
          class: "form-control" %>
        </div>
      
        <div class="field form-group">
          <%= f.text_field :user_name, placeholder: "User name",
          class: "form-control" %>
        </div>
      
        <div class="field form-group">
          <%= f.email_field :email, placeholder: "Email", 
          class: "form-control" %>
        </div>
      
        <div class="field form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password",class: "form-control" %>
        </div>
      
        <div class="field form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "form-control" %>
        </div>

        <div>
          <%= f.file_field :avatar, placeholder: "Your image" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    
    <%= render "users/shared/links" %>
  </div>
</div>
